body {
  font-family: "Short Stack", cursive;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cart-container {
  width: 70vw;
  height: 62vh;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 60px;
}

.cart-items {
  max-height: 300px;       
  overflow-y: auto;       
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none; 
  flex-grow: 1;
}

.book {
  height: 100px;
  border: 1px dashed gray;
  border-radius: 20px;
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bia {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.bia img {
  height: 100%;
  border-radius: 8px;
  box-shadow: 5px 5px 10px grey;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.quantity-selector input {
width: 30px;        
text-align: center;
}

.sub,
.add{
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  color: rgb(88, 88, 88);
}

.action {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.price {
  color: #ff6f61;
  font-size: 16px;
  display: flex;
}

.bx-trash {
  font-size: 30px;
  cursor: pointer;
  margin-top: 25px;
}

input[type="checkbox"] {
  width: 18px;  
  height: 18px; 
  vertical-align: middle;
  cursor: pointer;
} 

.cart-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 0 40vw;
}

.value {
    font-family: "Sue Ellen Francisco", cursive;
    display: flex;
    align-items: center;
    gap: 8px;
}

.value input {
    cursor: pointer;
}

.value img{
    height: 24px;
}

.balance span {
  font-size: 16px;
  font-weight: 500;
}

.total {
  background: #facc15;
  padding: 5px 15px;
  border-radius: 20px;
}

.order-btn {
  background: #f56c42;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

